@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.italic {
    font-style: italic;
}

h1 {
    font-size: 44px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
.section-spacing {
    padding: 50px 0;
}

.heading-spacing {
    letter-spacing: 3px;
}

.site-button {
    padding: 12px 18px;
    border: 3px solid;
    background: transparent;
    font-weight: bold;
    transition: 0.7s;
}

.site-button:hover {
    color: #d2b356;
    border: 3px solid #d2b356;
}
.grey-color {
    color: #cccccc;
}

/* HEADER */
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    gap: 30px;
}

.logo img {
    width: 60%;
}

.menu-list ul {
    display: flex;
    gap: 25px;
}
.menu-list ul li {
    font-size: 14px;
}

.social-icons ul {
    display: flex;
    gap: 20px;
}

/* END HEADER */

/* BANNER SECTION */
.banner-section {
    background: url("../images/banner/banner.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-size: cover;
}
.banner-block {
    width: 30%;
}
.banner-block h1 {
    font-size: 62px;
}
.banner-block p {
    margin: 20px 0 50px;
    font-weight: 100;
}

/* #d2b356 */

/* END BANNER SECTION */

/* GALLERY */
.gallery-block {
    display: flex;
    flex-wrap: wrap;
}
.gallery-block img {
    width: 33%;
}

/* END GALLERY */

/* SERVICE */

.service-block {
    display: flex;
}
.service-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}
.service-left p span {
    font-weight: bold;
}
.service-left p {
    color: #ccc;
    font-weight: 100;
}
.service-left h2:after {
    content: "";
    background: #d2b356;
    left: 0;
    width: 70px;
    height: 8px;
    position: absolute;
    top: 160px;
}

.service-right {
    width: 65%;
}

.service-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.service-logo img {
    max-width: 30%;
}

/* END SERVICE */

/* PRODUCT */

.product-block {
    display: flex;
    gap: 70px;
}

.product-left {
    width: 35%;
}
.product-right {
    width: 65%;
}

.product-left {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-left p span {
    font-weight: bold;
}
.product-left p {
    color: #ccc;
    font-weight: 100;
}

.product-right {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product-right-content {
    width: 46%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.product-right-content p i {
    color: #d2b356;
    font-size: 40px;
}
.product-right-content p {
    font-weight: 100;
}
/* END PRODUCT */

/* PRICING */

.pricing-section {
    background: #f5f5f5;
    padding: 100px 0;
}
.pricing-heading {
    text-align: center;
}

.pricing-heading h2 {
    margin: 20px 0;
}

.pricing-heading p {
    color: #ccc;
    font-weight: bold;
}

.pricing-block {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.price {
    background: #f5f5f5;
    padding: 10px 0;
    position: relative;
    transition: 0.8s;
}
.price p:nth-child(1) {
    font-size: 80px;
    font-weight: bold;
}
.price p span {
    position: absolute;
    top: 20px;
    font-size: 30px;
    left: 120px;
}
.pricing-item {
    background: #fff;
    text-align: center;
    width: 30%;
    border: 10px solid #ffffff;
    transition: 0.8s;
}
.pricing-item:hover {
    border: 10px solid #d2b356;
}
.pricing-item:hover .price {
    background: #d2b356;
    color: #fff;
}

.pricing-item-heading {
    padding: 30px;
    line-height: 2;
}
.pricing-item-footer {
    padding: 30px 0 0;
}
.pricing-item-footer li {
    border-bottom: 1px dotted #ccc;
    padding: 12px 0;
}
.pricing-btn {
    padding: 50px 0;
}

/* END PRICING */

/* FEEDBACK SECTIONS */

.feedback-heading {
    text-align: center;
}

.feedback-heading h2 {
    margin: 20px 0;
}

.feedback-heading p {
    color: #ccc;
    font-weight: bold;
}

.feedback-block {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.feedback-item {
    width: 30%;
    text-align: center;
}

.feedback-item img {
    width: 150px;
    border-radius: 50%;
}
.feedback-item p {
    margin: 20px 0;
}
.feedback-item h5 {
    font-weight: 500;
}

/* END FEEDBACK SECTIONS */

/* FOOTER */

footer {
    padding: 15px 0;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-right ul {
    display: flex;
    gap: 25px;
}
.footer-right ul li {
    font-size: 14px;
}

.social-icons ul {
    display: flex;
    gap: 20px;
}

/* END FOOTER */

@media screen and (min-width: 480px) and (max-width: 600px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    h4 {
        font-size: 22px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 14px;
    }
    p {
        font-size: 16px;
    }

    .header-block {
        flex-direction: column;
    }

    .menu-list ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        text-align: center;
    }

    .banner-section {
        padding: 50px 0;
        background-position: center;
    }

    .banner-block h1 {
        font-size: 40px;
    }
    .banner-block {
        width: 70%;
    }
    .product-block {
        flex-direction: column;
    }
    .product-left {
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .product-right {
        width: 100%;
        gap: 15px;
        justify-content: center;
    }

    .gallery-block img {
        width: 50%;
    }

    .service-block {
        flex-direction: column;
    }
    .service-left h2:after {
        top: 130px;
    }
    .service-left {
        width: 100%;
    }
    .service-right {
        width: 100%;
    }
    .price p:nth-child(1) {
        font-size: 40px;
    }
    .pricing-block {
        flex-direction: column;
    }
    .pricing-item {
        width: 100%;
    }
    .pricing-item-heading h4 {
        font-size: 20px;
    }
    .price p span {
        top: 10px;
        font-size: 22px;
        left: 150px;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px) {
    .header-block {
        flex-direction: column;
    }
    .logo {
        text-align: center;
    }
    .banner-section {
        background-position: center;
        padding: 50px 0;
    }
    .banner-block h1 {
        font-size: 42px;
    }
    .banner-block {
        width: 70%;
    }
    .product-block {
        flex-direction: column;
    }
    .product-left {
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .product-right {
        width: 100%;
        gap: 15px;
        justify-content: center;
    }
    .gallery-block img {
        width: 50%;
    }
    .service-block {
        flex-direction: column;
    }
    .service-left h2:after {
        top: 150px;
    }
    .service-left {
        width: 100%;
    }
    .service-right {
        width: 100%;
    }
    .price p:nth-child(1) {
        font-size: 40px;
    }
    .pricing-section {
        padding: 50px 0;
    }

    .pricing-item {
        width: 100%;
    }
    .pricing-item-heading h4 {
        font-size: 20px;
    }
    .price p span {
        top: 10px;
        font-size: 22px;
        left: 40px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .header-block {
        flex-direction: column;
    }
    .logo {
        text-align: center;
    }
    .banner-section {
        padding: 50px 0;
    }
    .banner-block h1 {
        font-size: 42px;
    }
    .banner-block {
        width: 70%;
    }
    .product-block {
        flex-direction: column;
    }
    .product-left {
        width: 100%;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

    .product-right {
        width: 100%;
        gap: 15px;
        justify-content: center;
    }
    .service-left h2:after {
        top: 190px;
    }
    .price p:nth-child(1) {
        font-size: 60px;
    }
    .price p span {
        left: 30px;
        font-size: 25px;
    }
}


