@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 44px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
p {
    font-size: 18px;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}

/* HEADER */
.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.logo img {
    width: 60%;
}

.menu-list ul {
    display: flex;
    gap: 25px;
}
.menu-list ul li {
    font-size: 14px;
}

.social-icons ul {
    display: flex;
    gap: 20px;
}

/* END HEADER */

/* BANNER SECTION */
.banner-section {
    background: url("../images/banner/banner.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-size: cover;
}
.banner-block {
    width: 30%;
}
.banner-block h1 {
    font-size: 62px;
}
.banner-block p {
    line-height: 1.5;
    margin: 20px 0 70px;
    font-weight: 100;
}

.banner-block button {
    padding: 12px 18px;
    border: 4px solid;
    background: transparent;
    font-weight: bold;
    transition: 0.7s;
}

.banner-block button:hover {
    color: #d2b356;
    border: 4px solid #d2b356;
}

/* #d2b356 */

/* END BANNER SECTION */
